/* ------------------------------------------- */
/* ------------- GLOBAL LAYOUT --------------- */
/* ------------------------------------------- */
body {
  padding-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

/* ------------------------------------------- */
/* ---------------- NAV LAYOUT --------------- */
/* ------------------------------------------- */
#header {
  height: 50px;
  box-shadow: 0px 2px 8px rgb(92, 91, 91);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

#logo {
  font-family: Impact;
  font-size: 28px;
  margin: 0;
  display: inline-block;
}

#header > a {
  color: steelblue;
  border-bottom: 1px solid rgb(68, 68, 68);
  padding: 1px 18px;
}

#header > p {
  margin: 0;
  font-family: helvetica;
  /* font-weight: lighter; */
  font-size: 10px;
  color: steelblue;
}

/* #nav {
  float: right;
} */

/* #nav > * {
  color: rgb(99, 99, 99);
  font-family: sans-serif;
  font-size: 12px;
  margin-right: 18px;
} */

/* ------------------------------------------- */
/* --------------- HOME LAYOUT --------------- */
/* ------------------------------------------- */
#home-wrapper > p {
  margin-top: 8px;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  padding: 0px 28px;
  letter-spacing: 1px;
}

/* ------------------------------------------- */
/* ---------- ACCESS POLL LAYOUT ------------- */
/* ------------------------------------------- */
#access-poll-wrapper {
  width: 100vw;
  text-align: center;
  box-shadow: 0px 2px 2px rgb(190, 190, 190);
  padding-top: 10px;
  padding-bottom: 20px;
}

#access-poll-form > input {
  padding: 3px 8px;
  border-radius: 12px;
  outline: none;
  border: 1px solid gray;
}

#access-poll-form > input:hover {
  border: 2px solid gray;
}

#access-poll-form > button {
  margin: 0px 12px;
  padding: 3px 8px;
  border-radius: 12px;
  outline: none;
  border: 2px solid gray;
  color: gray;
  font-weight: bold;
  background-color: transparent;
  box-shadow: 2px 2px 2px lightgrey;
}

#access-poll-form > button:hover {
  border: 2px solid steelblue;
  color: steelblue;
}

#access-poll-form > button:active {
  border: 2px solid rgb(0, 132, 255);
  color: rgb(0, 132, 255);
  box-shadow: none;
}

/* ------------------------------------------- */
/* ----------- CREATEFORM.JS LAYOUT ---------- */
/* ------------------------------------------- */
label {
  font-family: sans-serif;
  display: block;
  margin-top: 12px;
  margin-bottom: 2px;
  font-weight: bold;
}

input {
  width: 38%;
}

button {
  margin-top: 18px;
}

select {
  height: 26px;
  width: 188px;
}

.option-hide {
  display: none;
}
